/****** PLACE YOUR CUSTOM STYLES HERE ******/
 
 .nav-bar {
  height: 140px;
  max-height: 140px;
  line-height: 140px;
}
.nav-bar a {
  display: inline-block;
  height: 140px;
}
.image-xxs {
  max-height: 80px;
}

p {
  direction: rtl;
}

.pb64 {
  margin-bottom: 24px !important;
}
.pt64 {
  margin-top: 24px !important;
}
.mb64 {
  margin-top: 24px;
}